# k3nano 
CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_generic_DEVICE_phicomm-k3=y
CONFIG_TARGET_BOARD="bcm53xx”
CONFIG_DEFAULT_dnsmasq=n
CONFIG_PACKAGE_dnsmasq=n
CONFIG_DEFAULT_dnsmasq-full=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-mod-rpc=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_k3wifi=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-k3screenctrl=y
CONFIG_PACKAGE_luci-i18n-flowoffload-zh-cn=y
# CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
# CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_bandwidthd=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_iperf3=n
CONFIG_PACKAGE_htop=n
CONFIG_DEFAULT_ip6tables=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_UnblockNeteaseMusicGo=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-nft-qos=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_block-mount=n
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_PACKAGE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=n
CONFIG_PACKAGE_ariang=n
CONFIG_PACKAGE_haproxy=n
CONFIG_PACKAGE_luci-app-diag-core=n
CONFIG_PACKAGE_luci-app-hd-idle=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_libcap=n
CONFIG_PACKAGE_luci-app-baidupcs-web=n
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=n
CONFIG_PACKAGE_luci-app-watchcat=n
CONFIG_PACKAGE_luci-app-aria2=n
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=n
CONFIG_PACKAGE_ariang=n
CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_kmod-usb-uhci=n
CONFIG_PACKAGE_kmod-usb3=n
CONFIG_PACKAGE_kmod-usb2=n
CONFIG_PACKAGE_kmod-phy-bcm-ns-usb3=n
CONFIG_PACKAGE_kmod-phy-bcm-ns-usb2=n
CONFIG_PACKAGE_usbutils=n
CONFIG_PACKAGE_ntfs-3g=n
CONFIG_PACKAGE_kmod-fs-ext4=n
CONFIG_PACKAGE_kmod-fs-ntfs=n
CONFIG_PACKAGE_kmod-fs-vfat=n
CONFIG_PACKAGE_kmod-usb-storage-extras=n
CONFIG_PACKAGE_kmod-nls-cp437=n
CONFIG_PACKAGE_kmod-nls-iso8859-1=n
CONFIG_PACKAGE_kmod-nls-utf8=n
CONFIG_PACKAGE_frps=n
CONFIG_PACKAGE_luci-app-samba4=n
CONFIG_PACKAGE_nmap=n
CONFIG_PACKAGE_rpcd-mod-file=n
CONFIG_PACKAGE_uhttpd-mod-ubus=n
CONFIG_PACKAGE_libfdisk=n
CONFIG_PACKAGE_fdisk=n
CONFIG_PACKAGE_gdisk=n
CONFIG_PACKAGE_vim=n
CONFIG_PACKAGE_shadow-su=n
CONFIG_PACKAGE_luci-app-clash=n
CONFIG_PACKAGE_luci-app-pptp-server=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-pptp-server=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_adbyby=n
CONFIG_PACKAGE_block-mount=n
CONFIG_PACKAGE_coreutils-nohup=n
CONFIG_PACKAGE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_etherwake=n
CONFIG_PACKAGE_vsftpd-alt=n
CONFIG_PACKAGE_pptpd=n
CONFIG_PACKAGE_kmod-gre=n
CONFIG_PACKAGE_zerotier=n
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-app-cpufreq=n
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_PACKAGE_ddns-scripts_dnspod=n
CONFIG_PACKAGE_urngd=n
CONFIG_PACKAGE_coremark=n
CONFIG_PACKAGE_luci-app-sfe=n
CONFIG_PACKAGE_luci-app-flowoffload=y
